@model BilgiTekIzinTakip.Entities.Mudurluk

@{
    ViewBag.Title = "Müdürlük";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Müdürlük</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

    </dl>
</div>
<p>
    @Bootstrap.LinkButton("/Mudurluk/Edit/" + Model.Id, "warning", "btn-sm", "Edit", "edit", "Detay")
    @Bootstrap.LinkButton("/Mudurluk/Index", "secondary", "btn-sm", "Back To List", "long-arrow-alt-left", "Back To List")
</p>
