<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Account/Index" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Anasayfa</span></a></li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-view-quilt"></i><span class="hide-menu">Başkanlık </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class=" ml-md-4 sidebar-item"><a href="/Baskanlik/Index" class="sidebar-link"><i class="far fa-edit"></i><span class="hide-menu">Başkalıklar </span></a></li>
                        <li class="ml-md-4  sidebar-item"><a href="/Baskanlik/Create" class="sidebar-link"><i class="fas fa-plus-circle"></i><span class="hide-menu"> Başkanlık Ekle </span></a></li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-view-week"></i><span class="hide-menu">Müdürlük</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="ml-md-4 sidebar-item"><a href="/Mudurluk/Index" class="sidebar-link"><i class="far fa-edit"></i><span class="hide-menu col-md-6"> Müdürlükler </span></a></li>
                        <li class="ml-md-4 sidebar-item"><a href="/Mudurluk/Create" class="sidebar-link"><i class="fas fa-plus-circle"></i><span class="hide-menu col-md-6"> Müdürlük Ekle </span></a></li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-view-day"></i><span class="hide-menu">Şeflik</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="ml-md-4 sidebar-item"><a href="/Seflik/Index" class="sidebar-link"><i class="far fa-edit"></i><span class="hide-menu">Şeflikler </span></a></li>
                        <li class="ml-md-4 sidebar-item"><a href="/Seflik/Create" class="sidebar-link"><i class="fas fa-plus-circle"></i><span class="hide-menu">Şeflik Ekle </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class=" fas fa-user"></i><span class="hide-menu">Personel</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="ml-md-4 sidebar-item"><a href="/Personel/Index" class="sidebar-link"><i class="far fa-user-circle"></i><span class="hide-menu">Personeller</span></a></li>
                        <li class="ml-md-4 sidebar-item"><a href="/Personel/Create" class="sidebar-link"><i class="fas fa-user-plus"></i><span class="hide-menu">Personel Ekle </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-view-agenda"></i><span class="hide-menu">İzin Tipi</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="ml-md-4 sidebar-item"><a href="/IzinTipi/Index" class="sidebar-link"><i class="far fa-edit"></i><span class="hide-menu"> İzin Türleri </span></a></li>
                        <li class="ml-md-4 sidebar-item"><a href="/IzinTipi/Create" class="sidebar-link"><i class="fas fa-plus-circle"></i><span class="hide-menu"> İzin Türü Ekle </span></a></li>
                    </ul>
                </li>
                
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="far fa-calendar"></i><span class="hide-menu">İzin </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="ml-md-4 sidebar-item"><a href="/Izinler/Index" class="sidebar-link"><i class="far fa-edit"></i><span class="hide-menu"> İzinler </span></a></li>
                        <li class="ml-md-4 sidebar-item"><a href="/Izinler/Create" class="sidebar-link"><i class="fas fa-plus-circle"></i><span class="hide-menu"> İzin Ekle </span></a></li>
                    </ul>
                </li>
               
            </ul>
        </nav>
    </div>
</aside>
