@model BilgiTekIzinTakip.Entities.Baskanlik

@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Başkanlık</h2>

<div class="form-horizontal">

    <div class="card">

        <div class="card-body">


            <h4>Detaylar</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Isim)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Isim)
                </dd>

            </dl>
            <p>
                @Bootstrap.LinkButton("/Seflik/Edit/" + Model.Id, "warning", "btn btn", "Düzenle", "tooltip-edit", "Düzenle")
                @Bootstrap.LinkButton("/Seflik/Index", "secondary", "btn btn", "Listeye geri dön", "keyboard-backspace", "Listeye geri dön")
            </p>
        </div>
    </div>
</div>
        
