@model BilgiTekIzinTakip.Entities.Seflik

@{
    ViewBag.Title = "Şeflik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>

<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Şeflik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-3 m-t-15">Şeflik İsmi</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Bootstrap.Button("danger", "btn-secondary", "submit", "trash-alt", "Sil")

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
    }
</div>
