@model BilgiTekIzinTakip.Entities.IzinTipi

@{
    ViewBag.Title = "İzin Tipi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>İzin Tipi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IzinTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IzinTuru)
        </dd>

    </dl>
</div>
<p>
    @Bootstrap.LinkButton("/IzinTipi/Edit/" + Model.Id, "warning", "btn-sm", "Edit", "edit", "Detay")
    @Bootstrap.LinkButton("/IzinTipi/Index", "secondary", "btn-sm", "Back To List", "long-arrow-alt-left", "Back To List")
</p>
